@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row" style="height:100vh;">
        <div class="col-sm" style="background-image:url('GymnasioBack.png')">
            One of three columns
        </div>
        
    </div>
    
</div>
